In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [52]:
propublica = pd.read_csv('cleaned_propublica_data.csv', index_col = 0)
print(propublica.shape)
propublica.head()

(10567, 12)

,first_name,last_name,party,gender,chamber,congress_number,DOB,method,proportion_male,proportion_female,predicted_gender,final_gender
0,George,Aiken,R,M,senate,80,1892.0,ipums,NaN,NaN,NaN,M
1,Raymond,Baldwin,R,M,senate,80,1893.0,ipums,NaN,NaN,NaN,M
2,Joseph,Ball,R,M,senate,80,1905.0,ipums,NaN,NaN,NaN,M
4,Theodore,Bilbo,D,M,senate,80,NaN,ipums,NaN,NaN,NaN,M
5,Ralph,Brewster,R,M,senate,80,1888.0,ipums,NaN,NaN,NaN,M

In [14]:
set(propublica.party)

{'D', 'I', 'R'}

In [11]:
congress = pd.read_csv('congress_final.csv', index_col = 0)
print(congress.shape)
congress.head()

(18130, 10)

,full_name,party,number,chamber,DOB,first_name,method,proportion_male,proportion_female,predicted_gender
0,"ADAMSON, William Charles",Democrat,65,house,1854.0,William,ipums,0.9986,0.0014,M
1,"ANDREWS, William Ezekiel",Republican,66,house,1854.0,William,ipums,0.9986,0.0014,M
2,"ANDREWS, William Ezekiel",Republican,67,house,1854.0,William,ipums,0.9986,0.0014,M
3,"ATKESON, William Oscar",Republican,67,house,1854.0,William,ipums,0.9986,0.0014,M
4,"COCKRAN, William Bourke",Democrat,67,house,1854.0,William,ipums,0.9986,0.0014,M

In [12]:
# There a few parties in the congress datset
set(congress.party)

{'American Laborite',
 'Democrat',
 'Democrat Farmer Labor',
 'Democrat-Farm Labor',
 'Democrat-Liberal',
 'Democrat/Republican',
 'Farmer Laborite',
 'Independent',
 'Independent Democrat',
 'Independent Republican',
 'Liberal',
 'Nonpartisan',
 'Progressive',
 'Prohibitionist',
 'Republican',
 'Republican-Conservative',
 'Republican/Democrat',
 'Socialist',
 'Union Labor'}

In [21]:
len(congress)

18130

In [20]:
# How many people don't belong to the two major parties?
len(congress[(congress.party != 'Democrat') & (congress.party != 'Republican')])
# 160, out of 18130, i.e. roughly 1%.

160

In [24]:
# We will label those as Other
congress.loc[(congress.party != 'Democrat') & (congress.party != 'Republican'), 'party'] = 'O'

# Now let's change democrat to D and republican to R
congress.loc[congress.party == 'Democrat', 'party'] = 'D'
congress.loc[congress.party == 'Republican', 'party'] = 'R'

In [29]:
# Only have 3 parties now
set(congress.party)

{'D', 'O', 'R'}

In [53]:
# Let's do the same with the propublica dataset
propublica.loc[propublica.party == 'I', 'party'] = 'O'
set(propublica.party)

{'D', 'O', 'R'}

In [ ]:
# Now we want to append those 2 datasets to one another, need to make sure they have the same columns

In [63]:
congress.rename(columns={'number':'congress_number', 'predicted_gender' : 'final_gender'}, inplace=True)
congress.head()

,full_name,party,congress_number,chamber,DOB,first_name,method,proportion_male,proportion_female,final_gender
0,"ADAMSON, William Charles",D,65,house,1854.0,William,ipums,0.9986,0.0014,M
1,"ANDREWS, William Ezekiel",R,66,house,1854.0,William,ipums,0.9986,0.0014,M
2,"ANDREWS, William Ezekiel",R,67,house,1854.0,William,ipums,0.9986,0.0014,M
3,"ATKESON, William Oscar",R,67,house,1854.0,William,ipums,0.9986,0.0014,M
4,"COCKRAN, William Bourke",D,67,house,1854.0,William,ipums,0.9986,0.0014,M

In [31]:
propublica.head()

,first_name,last_name,party,gender,chamber,congress_number,DOB,method,proportion_male,proportion_female,predicted_gender,final_gender
0,George,Aiken,R,M,senate,80,1892.0,ipums,NaN,NaN,NaN,M
1,Raymond,Baldwin,R,M,senate,80,1893.0,ipums,NaN,NaN,NaN,M
2,Joseph,Ball,R,M,senate,80,1905.0,ipums,NaN,NaN,NaN,M
4,Theodore,Bilbo,D,M,senate,80,NaN,ipums,NaN,NaN,NaN,M
5,Ralph,Brewster,R,M,senate,80,1888.0,ipums,NaN,NaN,NaN,M

In [54]:
# Let's create a full_name column for the propublica dataset
def f(x):
    return x['last_name'].upper() + ', ' + x['first_name']

In [55]:

propublica['full_name'] = propublica.apply(f, axis = 1)
propublica

,first_name,last_name,party,gender,chamber,congress_number,DOB,method,proportion_male,proportion_female,predicted_gender,final_gender,full_name
0,George,Aiken,R,M,senate,80,1892.0,ipums,NaN,NaN,NaN,M,"AIKEN, George"
1,Raymond,Baldwin,R,M,senate,80,1893.0,ipums,NaN,NaN,NaN,M,"BALDWIN, Raymond"
2,Joseph,Ball,R,M,senate,80,1905.0,ipums,NaN,NaN,NaN,M,"BALL, Joseph"
4,Theodore,Bilbo,D,M,senate,80,NaN,ipums,NaN,NaN,NaN,M,"BILBO, Theodore"
5,Ralph,Brewster,R,M,senate,80,1888.0,ipums,NaN,NaN,NaN,M,"BREWSTER, Ralph"
6,John,Bricker,R,M,senate,80,NaN,ipums,NaN,NaN,NaN,M,"BRICKER, John"
7,Henry,Bridges,R,M,senate,80,1898.0,ipums,NaN,NaN,NaN,M,"BRIDGES, Henry"
8,Charles,Brooks,R,M,senate,80,1897.0,ipums,NaN,NaN,NaN,M,"BROOKS, Charles"
9,Joseph,Broughton,D,M,senate,80,1888.0,ipums,NaN,NaN,NaN,M,"BROUGHTON, Joseph"
11,Vera,Bushfield,R,F,senate,80,1889.0,ipums,NaN,NaN,NaN,F,"BUSHFIELD, Vera"
12,Harlan,Bushfield,R,M,senate,80,1882.0,ipums,NaN,NaN,NaN,M,"BUSHFIELD, Harlan"
13,Hugh,Butler,R,M,senate,80,NaN,ipums,NaN,NaN,NaN,M,"BUTLER, Hugh"
14,Harry,Byrd,D,M,senate,80,1887.0,ipums,NaN,NaN,NaN,M,"BYRD, Harry"
15,Harry,Cain,R,M,senate,80,1906.0,ipums,NaN,NaN,NaN,M,"CAIN, Harry"
16,Homer,Capehart,R,M,senate,80,1897.0,ipums,NaN,NaN,NaN,M,"CAPEHART, Homer"
17,Arthur,Capper,R,M,senate,80,1865.0,ipums,NaN,NaN,NaN,M,"CAPPER, Arthur"
19,Thomas,Connally,D,M,senate,80,1877.0,ipums,NaN,NaN,NaN,M,"CONNALLY, Thomas"
20,John,Cooper,R,M,senate,80,1901.0,ipums,NaN,NaN,NaN,M,"COOPER, John"
21,Guy,Cordon,R,M,senate,80,1890.0,ipums,NaN,NaN,NaN,M,"CORDON, Guy"
24,Henry,Dworshak,R,M,senate,80,1894.0,ipums,NaN,NaN,NaN,M,"DWORSHAK, Henry"
25,James,Eastland,D,M,senate,80,1904.0,ipums,NaN,NaN,NaN,M,"EASTLAND, James"
28,William,Feazel,D,M,senate,80,1895.0,ipums,NaN,NaN,NaN,M,"FEAZEL, William"
29,Homer,Ferguson,R,M,senate,80,1889.0,ipums,NaN,NaN,NaN,M,"FERGUSON, Homer"
30,Ralph,Flanders,R,M,senate,80,1880.0,ipums,NaN,NaN,NaN,M,"FLANDERS, Ralph"
31,James,Fulbright,D,M,senate,80,1905.0,ipums,NaN,NaN,NaN,M,"FULBRIGHT, James"
32,Walter,George,D,M,senate,80,1878.0,ipums,NaN,NaN,NaN,M,"GEORGE, Walter"
33,Theodore,Green,D,M,senate,80,1867.0,ipums,NaN,NaN,NaN,M,"GREEN, Theodore"
34,John,Gurney,R,M,senate,80,1896.0,ipums,NaN,NaN,NaN,M,"GURNEY, John"
35,Carl,Hatch,D,M,senate,80,1889.0,ipums,NaN,NaN,NaN,M,"HATCH, Carl"
36,Albert,Hawkes,R,M,senate,80,1878.0,ipums,NaN,NaN,NaN,M,"HAWKES, Albert"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,Harley,Staggers,D,NaN,house,102,1951.0,ssa,1.0000,0.0000,M,M,"STAGGERS, Harley"
471,Jerome,Traxler,D,NaN,house,102,1931.0,ssa,0.9939,0.0061,M,M,"TRAXLER, Jerome"
472,Morris,Udall,D,NaN,house,102,1922.0,ipums,0.9799,0.0201,M,M,"UDALL, Morris"
473,Chalmers,Wylie,R,NaN,house,102,1920.0,ipums,1.0000,0.0000,M,M,"WYLIE, Chalmers"
474,Gus,Yatron,D,NaN,house,102,1927.0,ipums,1.0000,0.0000,M,M,"YATRON, Gus"
475,Brockman,Adams,D,NaN,senate,102,1927.0,ipums,NaN,NaN,M,M,"ADAMS, Brockman"
476,Lloyd,Bentsen,D,NaN,senate,102,1921.0,ipums,1.0000,0.0000,M,M,"BENTSEN, Lloyd"
477,Quentin,Burdick,D,NaN,senate,102,1908.0,ipums,1.0000,0.0000,M,M,"BURDICK, Quentin"
478,Alan,Cranston,D,NaN,senate,102,1914.0,ipums,1.0000,0.0000,M,M,"CRANSTON, Alan"
479,Alan,Dixon,D,NaN,senate,102,1927.0,ipums,1.0000,0.0000,M,M,"DIXON, Alan"
480,Wyche,Fowler,D,NaN,senate,102,1940.0,ssa,NaN,NaN,M,M,"FOWLER, Wyche"
481,Larry,Pressler,R,NaN,senate,102,1942.0,ssa,0.9970,0.0030,M,M,"PRESSLER, Larry"
482,Steven,Symms,R,NaN,senate,102,1938.0,ssa,1.0000,0.0000,M,M,"SYMMS, Steven"
483,Sonny,Callahan,R,NaN,house,103,1932.0,ssa,1.0000,0.0000,M,M,"CALLAHAN, Sonny"
484,Lloyd,Bentsen,D,NaN,senate,103,1921.0,ipums,1.0000,0.0000,M,M,"BENTSEN, Lloyd"
485,Larry,Pressler,R,NaN,senate,103,1942.0,ssa,0.9970,0.0030,M,M,"PRESSLER, Larry"
486,Ed,Bryant,R,NaN,house,104,1948.0,ssa,1.0000,0.0000,M,M,"BRYANT, Ed"
487,Jim,Bunn,R,NaN,house,104,1956.0,ssa,0.9976,0.0024,M,M,"BUNN, Jim"
488,Sonny,Callahan,R,NaN,house,104,1932.0,ssa,1.0000,0.0000,M,M,"CALLAHAN, Sonny"
489,Dick,Chrysler,R,NaN,house,104,1942.0,ssa,1.0000,0.0000,M,M,"CHRYSLER, Dick"
490,Wes,Cooley,R,NaN,house,104,1932.0,ssa,NaN,NaN,M,M,"COOLEY, Wes"
491,Dan,Frisa,R,NaN,house,104,1955.0,ssa,0.9954,0.0046,M,M,"FRISA, Dan"
492,Randy,Tate,R,NaN,house,104,1965.0,ssa,0.9866,0.0134,M,M,"TATE, Randy"
493,Larry,Pressler,R,NaN,senate,104,1942.0,ssa,0.9970,0.0030,M,M,"PRESSLER, Larry"
494,Ed,Bryant,R,NaN,house,105,1948.0,ssa,1.0000,0.0000,M,M,"BRYANT, Ed"
495,Sonny,Callahan,R,NaN,house,105,1932.0,ssa,1.0000,0.0000,M,M,"CALLAHAN, Sonny"
496,Ed,Bryant,R,NaN,house,106,1948.0,ssa,1.0000,0.0000,M,M,"BRYANT, Ed"
497,Sonny,Callahan,R,NaN,house,106,1932.0,ssa,1.0000,0.0000,M,M,"CALLAHAN, Sonny"
498,Ed,Bryant,R,NaN,house,107,1948.0,ssa,1.0000,0.0000,M,M,"BRYANT, Ed"
499,Sonny,Callahan,R,NaN,house,107,1932.0,ssa,1.0000,0.0000,M,M,"CALLAHAN, Sonny"

In [56]:
# Now we can drop the last_name column, and the predicted_gender, since the useful one is final gender
propublica = propublica.drop(['last_name', 'predicted_gender'], axis = 1)

In [57]:
propublica.head()

,first_name,party,gender,chamber,congress_number,DOB,method,proportion_male,proportion_female,final_gender,full_name
0,George,R,M,senate,80,1892.0,ipums,NaN,NaN,M,"AIKEN, George"
1,Raymond,R,M,senate,80,1893.0,ipums,NaN,NaN,M,"BALDWIN, Raymond"
2,Joseph,R,M,senate,80,1905.0,ipums,NaN,NaN,M,"BALL, Joseph"
4,Theodore,D,M,senate,80,NaN,ipums,NaN,NaN,M,"BILBO, Theodore"
5,Ralph,R,M,senate,80,1888.0,ipums,NaN,NaN,M,"BREWSTER, Ralph"

In [107]:
# Now we should be good to append those 2 datasets:
final = congress.append(propublica, sort = False)

In [205]:
len(congress)

18130

In [108]:
final.shape

(28697, 11)

In [109]:
# Let's map congress number to year. Congress is elected every 2 years
# Congress 116 was elected in 2018

congress_number_years = {}
current_year = 2019

for i in range(116, 64, -1):
    congress_number_years[i] = current_year
    current_year -= 2

# Now let's use this dictionary to create a new column

final['year'] = final.congress_number.apply(lambda x: congress_number_years[x])

In [110]:
# We have everything. How many genders are we missing? 
final.final_gender.isna().value_counts()
# 583 rows out of 28697, which isn't too bad, ~ 2% of the data.

False    28114
True       583
Name: final_gender, dtype: int64

In [111]:
# Let's drop the rows with na values for gender

In [112]:
# Just caught a false positive, Lampert Florian is a man, not a woman, and Guinn Williams
final.loc[final.full_name == 'LAMPERT, Florian', 'final_gender'] = 'M'

final.loc[final.full_name == 'WILLIAMS, Guinn', 'final_gender'] = 'M'

In [113]:
final.to_csv('final_pre_na_drop.csv')

In [114]:
final.dropna(subset= ['final_gender'], inplace = True)

In [115]:
final.columns

Index(['full_name', 'party', 'congress_number', 'chamber', 'DOB', 'first_name',
       'method', 'proportion_male', 'proportion_female', 'final_gender',
       'gender', 'year'],
      dtype='object')

In [116]:
# Check if we have any duplicates
final[final.duplicated(['full_name', 'congress_number', 'chamber']) == True]
# None, that's good
# Let's save this trimmed down dataset

Empty DataFrame
Columns: [full_name, party, congress_number, chamber, DOB, first_name, method, proportion_male, proportion_female, final_gender, gender, year]
Index: []

In [117]:
final.to_csv('final_post_na_drop.csv')

In [209]:
# Seems weird, looks like we have way more values further on. Have we not incorporated the members of the house?

final.groupby('congress_number').chamber.value_counts()

congress_number  chamber
65               house      444
                 senate     101
66               house      444
                 senate      92
67               house      441
                 senate      96
68               house      439
                 senate      95
69               house      429
                 senate     101
70               house      434
                 senate      98
71               house      446
                 senate     106
72               house      442
                 senate     105
73               house      429
                 senate     102
74               house      428
                 senate     106
75               house      436
                 senate     106
76               house      440
                 senate     102
77               house      439
                 senate     105
78               house      436
                 senate     100
79               house      441
                 senate     111
                           ...
102              house      447
                 senate     104
103              house      448
                 senate     104
104              house      447
                 senate     103
105              house      449
                 senate     100
106              house      442
                 senate     102
107              house      447
                 senate     104
108              house      443
                 senate     100
109              house      445
                 senate     101
110              house      452
                 senate     102
111              house      450
                 senate     110
112              house      449
                 senate     102
113              house      449
                 senate     105
114              house      448
                 senate     100
115              house      456
                 senate     105
116              house      443
                 senate     100
Name: chamber, Length: 104, dtype: int64

In [118]:
# For the streamgraph plot, we need to count the number of women in each party for every congress
stream = final[final.final_gender == 'F']

In [119]:
stream

,full_name,party,congress_number,chamber,DOB,first_name,method,proportion_male,proportion_female,final_gender,gender,year
2400,"RANKIN, Jeannette",R,65,house,1880.0,Jeannette,ipums,0.0000,1.0000,F,NaN,1917
2401,"RANKIN, Jeannette",R,77,house,1880.0,Jeannette,ipums,0.0000,1.0000,F,NaN,1941
4389,"GENSMAN, Lorraine Michael",R,67,house,1878.0,Lorraine,ipums,0.0000,1.0000,F,NaN,1921
4431,"HUCK, Winnifred Sprague Mason",R,67,house,1882.0,Winnifred,ipums,0.0000,1.0000,F,NaN,1921
4521,"NOLAN, Mae Ella",R,67,house,1886.0,Mae,ipums,0.0709,0.9291,F,NaN,1921
4522,"NOLAN, Mae Ella",R,68,house,1886.0,Mae,ipums,0.0709,0.9291,F,NaN,1923
4566,"ROBERTSON, Alice Mary",R,67,house,1854.0,Alice,ipums,0.0000,1.0000,F,NaN,1921
4685,"FELTON, Rebecca Latimer",D,67,senate,1835.0,Rebecca,ipums,0.0000,1.0000,F,NaN,1921
5636,"KAHN, Florence Prag",R,69,house,1866.0,Florence,ipums,0.0243,0.9757,F,NaN,1925
5637,"KAHN, Florence Prag",R,70,house,1866.0,Florence,ipums,0.0243,0.9757,F,NaN,1927
5638,"KAHN, Florence Prag",R,71,house,1866.0,Florence,ipums,0.0243,0.9757,F,NaN,1929
5639,"KAHN, Florence Prag",R,72,house,1866.0,Florence,ipums,0.0243,0.9757,F,NaN,1931
5640,"KAHN, Florence Prag",R,73,house,1866.0,Florence,ipums,0.0243,0.9757,F,NaN,1933
5641,"KAHN, Florence Prag",R,74,house,1866.0,Florence,ipums,0.0243,0.9757,F,NaN,1935
5695,"NORTON, Mary Teresa",D,69,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1925
5696,"NORTON, Mary Teresa",D,70,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1927
5697,"NORTON, Mary Teresa",D,71,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1929
5698,"NORTON, Mary Teresa",D,72,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1931
5699,"NORTON, Mary Teresa",D,73,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1933
5700,"NORTON, Mary Teresa",D,74,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1935
5701,"NORTON, Mary Teresa",D,75,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1937
5702,"NORTON, Mary Teresa",D,76,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1939
5703,"NORTON, Mary Teresa",D,77,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1941
5704,"NORTON, Mary Teresa",D,78,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1943
5705,"NORTON, Mary Teresa",D,79,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1945
5706,"NORTON, Mary Teresa",D,80,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1947
5707,"NORTON, Mary Teresa",D,81,house,1875.0,Mary,ipums,0.0044,0.9956,F,NaN,1949
5712,"ROGERS, Edith Nourse",R,69,house,1881.0,Edith,ipums,0.0142,0.9858,F,NaN,1925
5713,"ROGERS, Edith Nourse",R,70,house,1881.0,Edith,ipums,0.0142,0.9858,F,NaN,1927
5714,"ROGERS, Edith Nourse",R,71,house,1881.0,Edith,ipums,0.0142,0.9858,F,NaN,1929
...,...,...,...,...,...,...,...,...,...,...,...,...
10478,"WATSON COLEMAN, Bonnie",D,116,house,1945.0,Bonnie,ssa,NaN,NaN,F,F,2019
10484,"WEXTON, Jennifer",D,116,house,1968.0,Jennifer,ssa,NaN,NaN,F,F,2019
10485,"WILD, Susan",D,116,house,1957.0,Susan,ssa,NaN,NaN,F,F,2019
10488,"WILSON, Frederica",D,116,house,1942.0,Frederica,ssa,NaN,NaN,F,F,2019
10498,"BALDWIN, Tammy",D,116,senate,1962.0,Tammy,ssa,NaN,NaN,F,F,2019
10501,"BLACKBURN, Marsha",R,116,senate,1952.0,Marsha,ssa,NaN,NaN,F,F,2019
10509,"CANTWELL, Maria",D,116,senate,1958.0,Maria,ssa,NaN,NaN,F,F,2019
10510,"CAPITO, Shelley",R,116,senate,1953.0,Shelley,ssa,NaN,NaN,F,F,2019
10515,"COLLINS, Susan",R,116,senate,1952.0,Susan,ssa,NaN,NaN,F,F,2019
10518,"CORTEZ MASTO, Catherine",D,116,senate,1964.0,Catherine,ssa,NaN,NaN,F,F,2019
10524,"DUCKWORTH, Tammy",D,116,senate,1968.0,Tammy,ssa,NaN,NaN,F,F,2019
10527,"ERNST, Joni",R,116,senate,1970.0,Joni,ssa,NaN,NaN,F,F,2019
10528,"FEINSTEIN, Dianne",D,116,senate,1933.0,Dianne,ssa,NaN,NaN,F,F,2019
10529,"FISCHER, Deb",R,116,senate,1951.0,Deb,ssa,NaN,NaN,F,F,2019
10531,"GILLIBRAND, Kirsten",D,116,senate,1966.0,Kirsten,ssa,NaN,NaN,F,F,2019
10534,"HARRIS, Kamala",D,116,senate,1964.0,Kamala,ssa,NaN,NaN,F,F,2019
10535,"HASSAN, Margaret",D,116,senate,1958.0,Margaret,ssa,NaN,NaN,F,F,2019
10538,"HIRONO, Mazie",D,116,senate,1947.0,Mazie,ssa,NaN,NaN,F,F,2019
10540,"HYDE-SMITH, Cindy",R,116,senate,1959.0,Cindy,ssa,NaN,NaN,F,F,2019
10548,"KLOBUCHAR, Amy",D,116,senate,1960.0,Amy,ssa,NaN,NaN,F,F,2019
10555,"MCSALLY, Martha",R,116,senate,1966.0,Martha,ssa,NaN,NaN,F,F,2019
10559,"MURKOWSKI, Lisa",R,116,senate,1957.0,Lisa,ssa,NaN,NaN,F,F,2019
10561,"MURRAY, Patty",D,116,senate,1950.0,Patty,ssa,NaN,NaN,F,F,2019
10570,"ROSEN, Jacky",D,116,senate,1957.0,Jacky,ssa,NaN,NaN,F,F,2019
10579,"SHAHEEN, Jeanne",D,116,senate,1947.0,Jeanne,ssa,NaN,NaN,F,F,2019
10581,"SINEMA, Kyrsten",D,116,senate,1976.0,Kyrsten,ssa,NaN,NaN,F,F,2019
10582,"SMITH, Tina",D,116,senate,1958.0,Tina,ssa,NaN,NaN,F,F,2019
10583,"STABENOW, Debbie",D,116,senate,1950.0,Debbie,ssa,NaN,NaN,F,F,2019
10592,"WARREN, Elizabeth",D,116,senate,1949.0,Elizabeth,ssa,NaN,NaN,F,F,2019
458,"HORN, Joan",D,102,house,1936.0,Joan,ssa,0.0047,0.9953,F,NaN,1991

In [122]:
for_R_streamgraph = pd.DataFrame(stream.groupby(['year']).party.value_counts())

In [130]:
for_R_streamgraph.rename(columns={'party':'count'}, inplace= True)

In [132]:
for_R_streamgraph= for_R_streamgraph.reset_index(level = [0,1])

In [133]:
for_R_streamgraph.to_csv('for_R_streamgraph.csv')

In [134]:
for_R_streamgraph.party.value_counts()

R    51
D    49
O     2
Name: party, dtype: int64

{'house', 'senate'}

In [219]:
total_streamgraph = final

In [220]:
total_streamgraph.congress_number.value_counts().sort_index()

65     545
66     536
67     537
68     534
69     530
70     532
71     552
72     547
73     531
74     534
75     542
76     542
77     544
78     536
79     552
80     543
81     545
82     544
83     548
84     531
85     534
86     542
87     548
88     541
89     531
90     527
91     539
92     529
93     527
94     531
95     533
96     527
97     529
98     527
99     525
100    530
101    532
102    551
103    552
104    550
105    549
106    544
107    551
108    543
109    546
110    554
111    560
112    551
113    554
114    548
115    561
116    543
Name: congress_number, dtype: int64

In [230]:
# Roughly constant number of members of congress
# Let's aggregate gender and party

def g(x):
    return (x['final_gender'] + x['party'])


total_streamgraph['combination_party_gender'] = total_streamgraph.apply(g, axis = 1)

In [232]:
total_streamgraph

,full_name,party,congress_number,chamber,DOB,first_name,method,proportion_male,proportion_female,final_gender,gender,year,combination_party_gender
0,"ADAMSON, William Charles",D,65,house,1854.0,William,ipums,0.9986,0.0014,M,NaN,1917,MD
1,"ANDREWS, William Ezekiel",R,66,house,1854.0,William,ipums,0.9986,0.0014,M,NaN,1919,MR
2,"ANDREWS, William Ezekiel",R,67,house,1854.0,William,ipums,0.9986,0.0014,M,NaN,1921,MR
3,"ATKESON, William Oscar",R,67,house,1854.0,William,ipums,0.9986,0.0014,M,NaN,1921,MR
4,"COCKRAN, William Bourke",D,67,house,1854.0,William,ipums,0.9986,0.0014,M,NaN,1921,MD
5,"ALEXANDER, Joshua Willis",D,65,house,1852.0,Joshua,ipums,1.0000,0.0000,M,NaN,1917,MD
6,"ALEXANDER, Joshua Willis",D,66,house,1852.0,Joshua,ipums,1.0000,0.0000,M,NaN,1919,MD
7,"ALMON, Edward Berton",D,65,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1917,MD
8,"ROBBINS, Edward Everett",R,65,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1917,MR
9,"SAUNDERS, Edward Watts",D,65,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1917,MD
10,"ALMON, Edward Berton",D,66,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1919,MD
11,"SAUNDERS, Edward Watts",D,66,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1919,MD
12,"ALMON, Edward Berton",D,67,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1921,MD
13,"ALMON, Edward Berton",D,68,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1923,MD
14,"ALMON, Edward Berton",D,69,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1925,MD
15,"ALMON, Edward Berton",D,70,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1927,MD
16,"ALMON, Edward Berton",D,71,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1929,MD
17,"ALMON, Edward Berton",D,72,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1931,MD
18,"ALMON, Edward Berton",D,73,house,1860.0,Edward,ipums,0.9917,0.0083,M,NaN,1933,MD
19,"ANDERSON, Sydney",R,65,house,1881.0,Sydney,ipums,0.3247,0.6753,M,NaN,1917,MR
20,"ANDERSON, Sydney",R,66,house,1881.0,Sydney,ipums,0.3247,0.6753,M,NaN,1919,MR
21,"ANDERSON, Sydney",R,67,house,1881.0,Sydney,ipums,0.3247,0.6753,M,NaN,1921,MR
22,"ANDERSON, Sydney",R,68,house,1881.0,Sydney,ipums,0.3247,0.6753,M,NaN,1923,MR
23,"ANTHONY, Daniel Read, Jr.",R,65,house,1870.0,Daniel,ipums,1.0000,0.0000,M,NaN,1917,MR
24,"RIORDAN, Daniel Joseph",D,65,house,1870.0,Daniel,ipums,1.0000,0.0000,M,NaN,1917,MD
25,"ANTHONY, Daniel Read, Jr.",R,66,house,1870.0,Daniel,ipums,1.0000,0.0000,M,NaN,1919,MR
26,"RIORDAN, Daniel Joseph",D,66,house,1870.0,Daniel,ipums,1.0000,0.0000,M,NaN,1919,MD
27,"ANTHONY, Daniel Read, Jr.",R,67,house,1870.0,Daniel,ipums,1.0000,0.0000,M,NaN,1921,MR
28,"RIORDAN, Daniel Joseph",D,67,house,1870.0,Daniel,ipums,1.0000,0.0000,M,NaN,1921,MD
29,"ANTHONY, Daniel Read, Jr.",R,68,house,1870.0,Daniel,ipums,1.0000,0.0000,M,NaN,1923,MR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,"STAGGERS, Harley",D,102,house,1951.0,Harley,ssa,1.0000,0.0000,M,NaN,1991,MD
471,"TRAXLER, Jerome",D,102,house,1931.0,Jerome,ssa,0.9939,0.0061,M,NaN,1991,MD
472,"UDALL, Morris",D,102,house,1922.0,Morris,ipums,0.9799,0.0201,M,NaN,1991,MD
473,"WYLIE, Chalmers",R,102,house,1920.0,Chalmers,ipums,1.0000,0.0000,M,NaN,1991,MR
474,"YATRON, Gus",D,102,house,1927.0,Gus,ipums,1.0000,0.0000,M,NaN,1991,MD
475,"ADAMS, Brockman",D,102,senate,1927.0,Brockman,ipums,NaN,NaN,M,NaN,1991,MD
476,"BENTSEN, Lloyd",D,102,senate,1921.0,Lloyd,ipums,1.0000,0.0000,M,NaN,1991,MD
477,"BURDICK, Quentin",D,102,senate,1908.0,Quentin,ipums,1.0000,0.0000,M,NaN,1991,MD
478,"CRANSTON, Alan",D,102,senate,1914.0,Alan,ipums,1.0000,0.0000,M,NaN,1991,MD
479,"DIXON, Alan",D,102,senate,1927.0,Alan,ipums,1.0000,0.0000,M,NaN,1991,MD
480,"FOWLER, Wyche",D,102,senate,1940.0,Wyche,ssa,NaN,NaN,M,NaN,1991,MD
481,"PRESSLER, Larry",R,102,senate,1942.0,Larry,ssa,0.9970,0.0030,M,NaN,1991,MR
482,"SYMMS, Steven",R,102,senate,1938.0,Steven,ssa,1.0000,0.0000,M,NaN,1991,MR
483,"CALLAHAN, Sonny",R,103,house,1932.0,Sonny,ssa,1.0000,0.0000,M,NaN,1993,MR
484,"BENTSEN, Lloyd",D,103,senate,1921.0,Lloyd,ipums,1.0000,0.0000,M,NaN,1993,MD
485,"PRESSLER, Larry",R,103,senate,1942.0,Larry,ssa,0.9970,0.0030,M,NaN,1993,MR
486,"BRYANT, Ed",R,104,house,1948.0,Ed,ssa,1.0000,0.0000,M,NaN,1995,MR
487,"BUNN, Jim",R,104,house,1956.0,Jim,ssa,0.9976,0.0024,M,NaN,1995,MR
488,"CALLAHAN, Sonny",R,104,house,1932.0,Sonny,ssa,1.0000,0.0000,M,NaN,1995,MR
489,"CHRYSLER, Dick",R,104,house,1942.0,Dick,ssa,1.0000,0.0000,M,NaN,1995,MR
490,"COOLEY, Wes",R,104,house,1932.0,Wes,ssa,NaN,NaN,M,NaN,1995,MR
491,"FRISA, Dan",R,104,house,1955.0,Dan,ssa,0.9954,0.0046,M,NaN,1995,MR
492,"TATE, Randy",R,104,house,1965.0,Randy,ssa,0.9866,0.0134,M,NaN,1995,MR
493,"PRESSLER, Larry",R,104,senate,1942.0,Larry,ssa,0.9970,0.0030,M,NaN,1995,MR
494,"BRYANT, Ed",R,105,house,1948.0,Ed,ssa,1.0000,0.0000,M,NaN,1997,MR
495,"CALLAHAN, Sonny",R,105,house,1932.0,Sonny,ssa,1.0000,0.0000,M,NaN,1997,MR
496,"BRYANT, Ed",R,106,house,1948.0,Ed,ssa,1.0000,0.0000,M,NaN,1999,MR
497,"CALLAHAN, Sonny",R,106,house,1932.0,Sonny,ssa,1.0000,0.0000,M,NaN,1999,MR
498,"BRYANT, Ed",R,107,house,1948.0,Ed,ssa,1.0000,0.0000,M,NaN,2001,MR
499,"CALLAHAN, Sonny",R,107,house,1932.0,Sonny,ssa,1.0000,0.0000,M,NaN,2001,MR

In [238]:
R_total_streamgraph = pd.DataFrame(total_streamgraph.groupby(['combination_party_gender']).year.value_counts())

In [244]:
R_total_streamgraph.rename(columns={'year':'count'}, inplace = True)

In [245]:
R_total_streamgraph.reset_index()

    combination_party_gender  year  count
0                         FD  2019    108
1                         FD  2017     85
2                         FD  2013     80
3                         FD  2015     80
4                         FD  2009     76
5                         FD  2007     69
6                         FD  2011     67
7                         FD  2005     55
8                         FD  2001     54
9                         FD  2003     51
10                        FD  1999     47
11                        FD  1997     45
12                        FD  1993     41
13                        FD  1995     37
14                        FD  1991     23
15                        FD  1989     16
16                        FD  1977     14
17                        FD  1973     13
18                        FD  1975     13
19                        FD  1961     12
20                        FD  1987     12
21                        FD  1983     11
22                        FD  1959     10
23                        FD  1971     10
24                        FD  1979     10
25                        FD  1981     10
26                        FD  1985     10
27                        FD  1955      9
28                        FD  1957      8
29                        FD  1965      8
..                       ...   ...    ...
228                       MR  1955    242
229                       MR  1957    242
230                       MR  1969    233
231                       MR  2019    233
232                       MR  1981    232
233                       MR  2007    231
234                       MR  1945    230
235                       MR  1973    230
236                       MR  1985    222
237                       MR  1971    219
238                       MR  1967    215
239                       MR  1949    213
240                       MR  1993    213
241                       MR  1987    211
242                       MR  1983    209
243                       MR  1989    207
244                       MR  1963    206
245                       MR  1991    206
246                       MR  1961    205
247                       MR  2009    204
248                       MR  1939    193
249                       MR  1941    191
250                       MR  1979    190
251                       MR  1959    181
252                       MR  1977    177
253                       MR  1975    176
254                       MR  1965    164
255                       MR  1933    148
256                       MR  1935    125
257                       MR  1937    107

[258 rows x 3 columns]

In [246]:
R_total_streamgraph.to_csv('total_streamgraph_data.csv')

In [ ]:
# Can also look at a split by chamber, probably for the second visualisation

In [202]:

total_streamgraph.to_csv('total_streamgraph_data.csv')